<div class="users">
  <div class="users__title">Users</div>
  <div class="users__data">
    <ng-container *ngFor="let user of allUsersExceptCurrent">
      <p class="user">
        <img [src]="user?.photoUrl" />
      {{user.displayName}} <span class="admin" *ngIf="user?.admin">Admin</span>
      <button mat-raised-button color="primary" *ngIf="!user.alreadyAdded"  class="add" (click) = "addasFriend(user)">{{checkIfReceived(user) ? 'Request received' : checkIfSent(user) ? 'Pending':  'Add'}}</button>
      <button mat-raised-button color="primary" *ngIf="user.alreadyAdded"  class="added">Friends</button>
    </p>

    </ng-container>
  </div>

</div>
