.users
  height: 100%
  width: 100%
  &__title
    font-size: 2rem
    color: grey
    display: flex
    .type
      margin: 10px
  &__data
    padding: 10px
    img
      margin: 10px
      height: 40px
      width: 40px
      clip-path: circle()
      transform: scale(1)
      transition: transform 0.5s ease-in-out
      transform-origin: left
      &:hover
        transform: scale(5)
        left: 90px
    .user
      height: 40px
      display: flex
      font-size: 0.9rem
      padding: 10px
      color: grey
      align-items: center
      .add
        margin-left: auto
      .added
        background: white
        color: grey
        margin-left: auto
