<mat-toolbar class="toolbar">
  <button
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="drawer.toggle()"
    *ngIf="isHandset$ | async"
  >
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <app-top-navigation>
    <div style="font-family: cursive" title>Be MEAN</div>
  </app-top-navigation>
  <button
    type="button"
    aria-label="Toggle rightsidenav"
    mat-icon-button
    (click)="drawer2.toggle()"
  >
    <mat-icon aria-label="Side nav toggle icon">people</mat-icon>
  </button>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <!-- <mat-toolbar>Menu</mat-toolbar> -->
    <app-side-navigation [user]="user"></app-side-navigation>
  </mat-sidenav>
  <mat-sidenav-content class="nav-content">
    <div class="dynamic-routes">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

  <mat-sidenav
    position="end"
    #drawer2
    class="rightsidenav"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="'side'"
    [opened]="true"
  >
    <app-right-side-navigation></app-right-side-navigation>
  </mat-sidenav>
</mat-sidenav-container>
