<div class="container">
  <div class="feeds">
    <div class="feeds__input">
      <div class="post-input">
        <img [src]="authService.userDetails.photoUrl" />
        <textarea type="text" [value]="postText ? postText : null" placeholder="Write something you wish to share"
          (change)="postText = $event.target.value"></textarea>
      </div>

      <div style="width: 50%;height: 20%; display: flex; justify-content: center" *ngIf="imagePreview">
        <img style="width: 50%; height: 100%" [src]="imagePreview">
      </div>
    </div>
    <div class="feeds__button">
      <button class="attachment-btn" mat-fab color="primary" (click)="attach.click()">
        <span class="material-icons" style="font-size: 0.8rem">
          attach_file
        </span>
      </button>
      <input [hidden]="true" #attach class="file-button" [value]="imagePreview" name="image" type="file"
        (change)="imageFile($event)">
      <button mat-flat-button color="primary" (click)="postCreate()">Post</button>
    </div>
  </div>
  <div *ngIf="loading" class="lds-dual-ring"></div>
  <ng-container *ngFor="let post of posts; let i = index">
    <div class="posts">
      <div class="name">
        <img [src]="post?.user?.photoUrl" />
        <div class="name-container">
          <p class="userName">{{ post?.user?.displayName }} <span class="admin" *ngIf="post?.user?.admin">Admin</span>
          </p>
          <p style="color: grey; font-size: 0.7rem;margin: 3px;">{{ post?.date }}</p>
        </div>
        <button class="delete-btn" mat-fab color="accent" style="" *ngIf="post.user._id === authService.userDetails._id"
          (click)="deletePost(post._id, i)">
          <span class="material-icons" style="font-size: 0.8rem">
            delete
          </span></button>
      </div>
      <pre><code class="text">{{ post.text }}</code></pre>
      <div class="image">
        <img *ngIf="post?.imageUrl" [src]="post.imageUrl">
      </div>
    </div>
  </ng-container>

</div>
