<div class="home">
  <div class="top-navigation">
    <app-top-navigation>
      <div style="font-family: cursive;" title>
        Be MEAN
      </div>
    </app-top-navigation>
  </div>

  <div id="side" *ngIf="showSideMenu" class="side-navigation">
    <app-side-navigation [user]="user"></app-side-navigation>
  </div>
  <div class="dynamic">
    <router-outlet></router-outlet>
  </div>
</div>

<div id="rightside" *ngIf="showRightSideMenu" class="right-side-navigation">
  <app-right-side-navigation></app-right-side-navigation>
</div>

<div class="menu-button" *ngIf="showMenuButton" (click)="showSideMenu = !showSideMenu">
  <span class="material-icons">
    =
  </span>
</div>
