\:host
  width: 100%
.top-nav
  display: flex
  height: 100%
  .title
    height: 100%
    font-size: 1.5rem
    color: white
    display: flex
    align-items: center
    padding: 0 10px
  .logout
    margin: 10px
    margin-left: auto
