.users
  height: 100%
  width: 100%
  &__title
    font-size: 2rem
    color: darkslateblue
    display: flex
    .type
      margin: 10px
      opacity: 0.7
      &.selected
        opacity: 1
  &__data
    padding: 10px
    .user
      height: 40px
      display: flex
      padding: 10px
      .add
        margin-left: auto
