<div class="container">
  <div class="image-container">
    <img
      src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
    />
    <p class="email">{{ user.displayName }}</p>
  </div>

  <ng-container *ngFor="let action of actions">
    <button
      class="btn btn-primary"
      [routerLinkActive]="['selected']"
      [routerLink]="action.route"
      [queryParams]="action.params"
    >
      {{ action.name + " " + (action.count ? action.count : "") }}
    </button>
  </ng-container>
</div>
