<div class="container">
  <div class="image-container">
    <!-- <img src ="https://cdn1.iconfinder.com/data/icons/big-rocket/80/BigRocket-1-01-512.png"> -->
    <img src="{{imagePreview ? imagePreview : user?.photoUrl }}" />
    <input type="file" [value] ="imagePreview" (change)="imageFile($event)">
    <button (click) ="updateProfilePic()">Update Picture</button>
    <p class="email">{{ user.displayName }}</p>
  </div>

  <ng-container *ngFor="let action of actions">
    <button
      class="btn btn-primary"
      [routerLinkActive]="['selected']"
      [routerLink]="action.route"
      [queryParams]="action.params"
    >
      {{ action.name + " " + (action.count ? action.count : "") }}
    </button>
  </ng-container>
</div>
